<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Usuario</title>
</head>
<body>
    <h1>Crear usuario</h1>
    <form action="/guardar" method="POST">
        <div>
            <label for="">Nombres</label>
            <input type="text" name="nombres">
        </div>

        <div>
            <label for="">Apellidos</label>
            <input type="text" name="apellidos">
        </div>

        <button>Guardar</button>
    </form>
</body>
</html>